<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
	<title tiles:fragment="title">Delivery detail</title>
</head>
<body>
	<div tiles:fragment="menubar">
		<div class="navbar navbar-inverse navbar-static-top">
	    	<div class="navbar-inner">
				<div class="container">
					<div class="header">
			         	<a class="brand" th:href="@{/}">
			         		<img th:src="@{/resources/img/tealogo.png}" alt="Spring Security Sample"/>
			         	</a>
						<div class="nav-collapse collapse" 
						     th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
							  <div th:if="${currentUser != null}">
							      <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
							          <input type="submit" value="Log out" />
							      </form>
							      <p class="navbar-text pull-right" th:text="${currentUser}">
							        sample_user
							      </p>
							  </div>
								  <ul class="nav pull-right">
									   <li class="navbar-list"><a th:href="@{/}">Menu</a></li>
									   <li class="active navbar-list"><a th:href="@{myOrder}">My Order</a></li>
									   <li class="navbar-list"><a th:href="@{logout}">Logout</a></li>
								  </ul>
						</div>
			        </div>
				</div>
			</div>
		</div>
	</div>  	
    <div tiles:fragment="content">
        <div class="offset2 span8 application-form">
        	<fieldset>
				<h4 class="list-title">Order list</h4>
        		<div class="orderDetailForm" style="height:150px;overflow:auto;">
			        <table class="table table-bordered table-striped">
		                <thead>
			                <tr>
			                	<th>名稱</th>
			                	<th>冰塊</th>
			                	<th>甜度</th>
			                	<!-- <th>珍珠</th> -->
			                	<th>杯數</th>
			                	<th>價錢</th>
			                </tr>
			            </thead>
			            <tbody>
			            	<tr th:each="basketItem : ${basket.items}">
								<td th:text="${basketItem.name}">飲品</td>
								<td th:text="${basketItem.ice}">冰</td>
								<td th:text="${basketItem.sweetness}">無糖</td>
								<!-- <td>不加</td> -->
								<td th:text="${basketItem.quantity}">杯數</td>
								<td th:text="${basketItem.price}">價錢</td>	
							</tr>
			            </tbody>
			            <tbody>
			            	<tr >
								<th>總杯數</th>
								<td th:text="${basket.quantity}" colspan="1">總杯數</td>
								<th>總價錢</th>
			                	<td th:text="${basket.price}" colspan="2">總價錢</td>
			             	</tr>
			            </tbody>
			        </table>
				</div> 
		    </fieldset>
	        <form class="form-horizontal" role="form">
		        <fieldset>
		            <h4 class="form-title">Delivery Information</h4>       
		            <table class="flat-table">
		            	<tr>
		            		<td>Account:</td>
		            		<td>jim0123</td>
		            	</tr>
		            	<tr>
		            		<td>Name:</td>
		            		<td><input type="text" name="name" placeholder="Jim"/></td>
		            	</tr>
		            	<tr>
		            		<td>Phone:</td>
		            		<td><input type="text" name="phone" placeholder="0987654321"/></td>
		            	</tr>
		            	<tr>
		            		<td>Email:</td>
		            		<td><input type="text" name="email" placeholder="jim1234@gmail.com"/></td>
		            	</tr>
		            	<tr>
		            		<td>Address:</td>
		            		<td><input type="text" name="address" placeholder="cha-ha-er st.2"/></td>
		            	</tr>
		            </table> 
		            <!-- <input class="form-button pull-right" type="submit" value="Order" />  -->
		            <div class="form-footer">
			            <a class="linkBtn pull-left" href="/">回上步驟</a>
			            <a class="linkBtn pull-right" href="myOrder">確定</a>
		            </div>
		        </fieldset>	        
	        </form>
		</div>
  	</div>
  </body>
</html>