<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : Add Menu Item</title>
   
  </head>
  <body>
    <div tiles:fragment="content">    
        <form action="#" th:action="@{/menu/create}" th:object="${menuItemForm}"  method="post">
					  <fieldset>
					  <legend>Add Menu Item</legend>
					  <label for="name">Name:</label>
					 <input type="text" th:field="*{name}" />
					 <label for="hotprice">Hot Price:</label>
					 <input type="text" th:field="*{hotprice}" />
					 <label for="iceprice">Ice Price:</label>
					 <input type="text" th:field="*{iceprice}" />
					 <label for="tag">Tag:</label>
					 <input type="text" th:field="*{tag}" />
					 <!--  <label for="cdate">Create Date:</label>
					 <input type="text" th:field="*{cdate}" /> -->
					 <label for="recommend">Recommend:</label>
					 <input type="text" th:field="*{recommend}" />
					 <label for="original">Original:</label>
					 <input type="text" th:field="*{original}" />
					 <label for="mintoprepare">Minute to Prepare:</label>
					 <input type="text" th:field="*{mintoprepare}" />
					 <div id="submit">
                     <input type="submit" value="Add"/>
                      </div>
                      </fieldset>
			</form>
    </div>
  </body>
</html>