<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : View All</title>
  </head>
  <body>
  	<div tiles:fragment="menubar">
  		<div class="navbar navbar-inverse navbar-static-top">
	        <div class="navbar-inner">
	          <div class="container">
	            <div class="header">
	            	<a class="brand" th:href="@{/}"><img th:src="@{/resources/img/tealogo.png}" alt="Spring Security Sample"/></a>
	
					<div class="nav-collapse collapse" 
					     th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
					  <div th:if="${currentUser != null}">
					      <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
					          <input type="submit" value="Log out" />
					      </form>
					      <p class="navbar-text pull-right" th:text="${currentUser}">
					        sample_user
					      </p>
					  </div>
					  <ul class="nav">
					    <li><a th:href="@{management}">Management</a></li>
					    <li><a th:href="@{logout}">Logout</a></li>
					  </ul>
					</div>
	            </div>
	        </div>
	      </div>
	    </div>
  	</div>
    <div tiles:fragment="content">
    <script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    	<div class="span12">
	        <h4 class="span7">Order Menu</h4>
	        <a class="linkBtn offset3" href="menu/create">Create</a>
	        <div class="orderMenu span11">
	       		<h5>熱門排行</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '熱門排行'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
	       		<h5>原味茶</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '原味茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
	       		<h5>調味茶</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '調味茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
		        <h5>奶香茶</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '奶香茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
		        <h5>溫心熱飲(冬季限定)</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '冬季限定'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
		        <h5>新鮮茶</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '新鮮茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
		        <h5>拿鐵茶</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '拿鐵茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
		        <h5>夏季限定</h5>
	       		<table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>品名</th>
		                    <th>價格(熱)</th>
		                    <th>價格(冰)</th>
		                    <!-- <th>種類</th> -->
		                	<th>推薦</th>
		                    <th>Original</th>
		                    <th></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<form action="" method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr th:each="menuitem : ${menuitems}"  th:if="${menuitem.tag == '夏季限定'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotPrice</td>
				                    <td th:text="${menuitem.icePrice}">icePrice</td>
				                    <!-- <td th:text="${menuitem.tag}">tag</td> -->
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
									</th>
				                    <th class="menuSelect">
				                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
				                    </th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>

	        <!-- <script th:inline="javascript">
			/*<![CDATA[*/
			    var div = document.getElementById('orderList');
			    
	    		setInterval(function(){window.location.reload();},3000);
			/*]]>*/
		</script> -->    	
    		</div>

    	</div>
    </div>
  </body>
</html>