<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title"></title>
  </head>
  <body>
  	<div tiles:fragment="menubar"></div>
    <div tiles:fragment="content">
        
	        <fieldset>
	            <legend>User Information</legend>
	            <label for="name">Name: <span th:text="${menuItems.name}"></span></label>
	            <label for="hotprice">Hot Price: <span th:text="${menuItems.hotPrice}"></span></label>      
                <label for="iceprice">Ice Price: <span th:text="${menuItems.icePrice}"></span></label>  
	            <label for="tag">Tag:<span th:text="${menuItems.tag}"></span></label>
	            <label for="recommed">Recommend: <span th:text="${menuItems.recommend}"></span></label>
	            <label for="original">Original: <span th:text="${menuItems.original}"></span></label>
	            <label for="mintoprepare">Minute to Prepare: <span th:text="${menuItems.minToPrepare}"></span></label>          
	        </fieldset>
			<form action="#" th:action="@{/menu/update/}" th:object="${menuItemForm}"  method="post">
					  <fieldset>
					  <legend>User Information Edit</legend> 
					 <input type="hidden" th:value="${menuItems.id}" name="id"/>
					 <label for="name">Name:</label>
					 <input type="text" th:field="*{name}" />
					 <label for="hotprice">Hot Price:</label>
					 <input type="text" th:field="*{hotPrice}" />
					 <label for="iceprice">Ice Price: </label>
					 <input type="text" th:field="*{icePrice}" />
					 <label for="tag">Tag:</label>
					 <input type="text" th:field="*{tag}" />
					 <label for="recommend">Recommend:</label>
					 <input type="text" th:field="*{recommend}" />
					 <label for="original">Original:</label>
					 <input type="text" th:field="*{original}" />
					 <label for="mintoprepare">Minute to Prepare:</label>
					 <input type="text" th:field="*{minToPrepare}" />
					 <div id="submit">
                     <input type="submit" value="Update"/>
                      </div>
                      </fieldset>
			</form>
    </div>
  </body>
</html>