<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title"></title>
  </head>
  <body>
  	<div tiles:fragment="menubar"></div>
    <div tiles:fragment="content">
		<div class="form-horizontal offset3 span6 application-form">
	        <fieldset>
	            <h4 class="form-title" th:text="${menuItems.name}">Delivery Information</h4>       
	            <table class="flat-table">
		            	<tr>
	            		<td>熱飲價格</td>
	            		<td><span th:text="${menuItems.hotPrice}"></span></td>
	            	</tr>
	            	<tr>
	            		<td>冰飲價格</td>
	            		<td><span th:text="${menuItems.icePrice}"></span></td>
	            	</tr>
	            	<tr>
	            		<td>種類</td>
	            		<td><span th:text="${menuItems.tag}"></span></td>
	            	</tr>
	            	<tr>
	            		<td>大力推薦</td>
	            		<td><span th:text="${menuItems.recommend}"></span></td>
	            	</tr>
	            	<tr>
	            		<td>不提共去冰</td>
	            		<td><span th:text="${menuItems.original}"></span></td>
	            	</tr>
	            	<tr>
	            		<td>準備時間</td>
	            		<td><span th:text="${menuItems.minToPrepare}"></span></td>
	            	</tr>
	            </table> 
	        </fieldset>	      
		</div>
			<form action="#" th:action="@{/menu/update/}" th:object="${menuItemForm}"  method="post">
					  <fieldset>
					  <legend>User Information Edit</legend> 
					 <input type="hidden" th:value="${menuItems.id}" name="id"/>
					 <label for="name">Name:</label>
					 <input type="text" th:field="*{name}" />
					 <label for="hotprice">Hot Price:</label>
					 <input type="text" th:field="*{hotPrice}" />
					 <label for="iceprice">Ice Price: </label>
					 <input type="text" th:field="*{icePrice}" />
					 <label for="tag">Tag:</label>
					 <input type="text" th:field="*{tag}" />
					 <label for="recommend">Recommend:</label>
					 <input type="text" th:field="*{recommend}" />
					 <label for="original">Original:</label>
					 <input type="text" th:field="*{original}" />
					 <label for="mintoprepare">Minute to Prepare:</label>
					 <input type="text" th:field="*{minToPrepare}" />
					 <div id="submit">
                     <input type="submit" value="Update"/>
                      </div>
                      </fieldset>
			</form>
    </div>
  </body>
</html>