<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title tiles:fragment="title">Messages : Add Menu Item</title>
	 
	</head>
	<body>
	 	<div tiles:fragment="menubar"></div>
	  	<div tiles:fragment="content">    
			<form class="offset3 span6 application-form form-horizontal" role="form" action="#" th:action="@{/menu/create}" th:object="${menuItemForm}"  method="post">
				<fieldset>
					<h3 class="form-title">新增商品</h3>
					<div class="form-group">
						<label class="label label-default label-size15" for="name">Name</label>
						<input class="form-input" type="text" th:field="*{name}" placeholder="請輸入商品名稱" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="name">姓名</label>
					<input class="form-input" type="text" th:field="*{name}" placeholder="請輸入您的姓名" />
					</div>
					
					<div class="form-group">
						<label class="label label-default label-size15" for="hotprice">熱飲價格</label>
						<input class="form-input" type="text" th:field="*{hotPrice}" placeholder="請輸入熱飲價格" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="iceprice">冰飲價格</label>
						<input class="form-input" type="text" th:field="*{icePrice}" placeholder="請輸入冰飲價格" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="tag">種類</label>
						<select class="select-list">
							<option value="1">原味茶</option>
							<option value="2">熱門排行</option>
							<option value="3">調味茶</option>
							<option value="4">新鮮茶</option>
							<option value="5">奶香茶</option>
							<option value="6">拿鐵茶</option>
							<option value="7">夏季限定</option>
							<option value="8">冬季限定</option>
						</select> 
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="cdate">Create Date:</label>
						<input class="form-input" type="text" placeholder="Create Date" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">
						  <input type="checkbox" />
						</span>
						<span>大力推薦</span>
					</div>
					
					<div class="input-group">
						<span class="input-group-addon">
						  <input type="checkbox" />
						</span>
						<span>提共去冰</span>
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="mintoprepare">準備時間</label>
						<input class="form-input" type="text" placeholder="準備時間" />
					</div>
					<div class="form-group form-submit-btn">
						<input class="form-button" type="submit" value="新增產品"/>
					</div>
		        </fieldset>
			</form>
		</div>
	</body>
</html>