<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : View All</title>
   
  </head>
  <body>
    <div tiles:fragment="content">
    <script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    
        <form action="#" th:action="@{/user/create/}" th:object="${userForm}"  method="post">
					  <fieldset>
					  <legend>Add Menu Item</legend>
					  <label for="account">Account:</label>
					 <input type="text" th:field="*{account}" />
					 <label for="name">Name:</label>
					 <input type="text" th:field="*{name}" />
					 <label for="password">Password:</label>
					 <input type="password" th:field="*{password}" />
					 <label for="phone">Phone:</label>
					 <input type="text" th:field="*{phone}" />
					 <label for="email">Email:</label>
					 <input type="text" th:field="*{email}" />
					 <label for="address">Address:</label>
					 <input type="text" th:field="*{address}" />
					 
					 <div id="submit">
                     <input type="submit" value="Update"/>
                      </div>
                      </fieldset>
			</form>
    </div>
  </body>
</html>