<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : View All</title>
  </head>
  <body>
    <div tiles:fragment="content">
    <script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    	<div class="span7">
	        <h4>Order Menu</h4>
	       	<div class="orderMenu">
	       		<h5>原味茶</h5>
	       		 <table class="table table-bordered table-striped">
		            <thead>
		                <tr >
		                	<th>Name</th>
		                    <th>Hot Price</th>
		                    <th>Ice Price</th>
		                    <th>Tag</th>
		                	<th>Recommend</th>
		                    <th>Original</th>
		                    <th>Sweetness</th>
		                    <th>Ice cubes</th>
		                    <th>Quantity</th>
		                    <th>Order</th>
		                </tr>
		            </thead>
		            <tbody th:each="menuitem : ${menuitems}" >
		            	<form action="" th:action="@{/basket/add}"  th:object="${menuItemForm}"  method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr  th:if="${menuitem.tag == '原味茶'}">
				                	<td th:text="${menuitem.name}">name</td>
				                    <td th:text="${menuitem.hotPrice}">hotprice</td>
				                    <td th:text="${menuitem.icePrice}">iceprice</td>
				                    <td th:text="${menuitem.tag}">tag</td>
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                    <input id="name" name="name" type="hidden" th:value="${menuitem.name}"/>
				                    <input id="hotPrice" name="hotPrice" type="hidden" th:value="${menuitem.hotPrice}"/>
	                                <input id="icePrice" name="icePrice" type="hidden" th:value="${menuitem.icePrice}"/>
				                    <th class="menuSelect">
										<select th:field="*{sweetness}"  th:object="${menuItemForm}">
										  <option value="0" >無糖</option>
										  <option value="1" >微糖</option>
										  <option value="2">半糖</option>
										  <option value="3">少糖</option>
										  <option value="4">正常</option>
										</select> 
									</th>
				                    <th class="menuSelect">
										<select th:field="*{ice}" th:object="${menuItemForm}">
										  <option   th:if="${menuitem.icePrice != 0}" th:value="0" >去冰</option>
										  <option   th:if="${menuitem.icePrice != 0}" th:value="1" >少冰</option>
										  <option   th:if="${menuitem.icePrice != 0}" th:value="2" >正常</option>
										  <option   th:if="${menuitem.hotPrice != 0}" th:value="3" >熱</option>
										</select> 
									</th> 
				                    <th class="menuSelect">
										<input type="number" name="quantity" min="1" max="5"></input>
									</th>
				                    <th class="menuSelect"><input type="submit" value="Add"></input></th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
	       		<h5>調味茶</h5>
		         <table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                	<th>Name</th>
		                    <th>Hot Price</th>
		                    <th>Ice Price</th>
		                    <th>Tag</th>
		                	<th>Recommend</th>
		                    <th>Original</th>
		                    <th>Sweetness</th>
		                    <th>Ice cubes</th>
		                    <th>Quantity</th>
		                    <th>Order</th>
		                </tr>
		            </thead>
		            <tbody th:each="menuitem : ${menuitems}">
		            	<form action=""  th:action="@{/basket/add}"  th:object="${menuItemForm}"  method="POST">
			            	<tr th:if="${menuitems.empty}">
			                    <td colspan="3">No messages</td>
			                </tr>
				                <tr   th:if="${menuitem.tag == '調味茶'}">
				                	<td th:text="${menuitem.name}" >name</td>
				                    <td th:text="${menuitem.hotPrice}">hotprice</td>
				                    <td th:text="${menuitem.icePrice}">iceprice</td>
				                    <td th:text="${menuitem.tag}">tag</td>
				                    <td th:text="${menuitem.recommend}">recommend</td>
				                    <td th:text="${menuitem.original}">original</td>
				                   
	                                <input id="name" name="name" type="hidden" th:value="${menuitem.name}"/>
	                                <input id="hotPrice" name="hotPrice" type="hidden" th:value="${menuitem.hotPrice}"/>
	                                <input id="icePrice" name="icePrice" type="hidden" th:value="${menuitem.icePrice}"/>
	                            
				                    <th  class="menuSelect">
										<select th:field="*{sweetness}"  th:object="${menuItemForm}">
										  <option value="0" >無糖</option>
										  <option value="1" >微糖</option>
										  <option value="2">半糖</option>
										  <option value="3">少糖</option>
										  <option value="4">正常</option>
										</select> 
									</th>
				                    <th class="menuSelect">
										<select th:field="*{ice}" th:object="${menuItemForm}">
										  <option   th:if="${menuitem.icePrice != 0}" th:value="0" >去冰</option>
										  <option   th:if="${menuitem.icePrice != 0}" th:value="1" >少冰</option>
										  <option   th:if="${menuitem.icePrice != 0}" th:value="2" >正常</option>
										  <option   th:if="${menuitem.hotPrice != 0}" th:value="3" >熱</option>
										</select> 
									</th> 
				                    <th class="menuSelect">
										<input type="number" th:field="*{quantity}"  th:object="${menuItemForm}" name="quantity" min="1" max="5"></input>
									</th>
				                    <th class="menuSelect"><input type="submit" value="Add"></input></th>              
								</tr>
		            	</form>
		            </tbody>
		        </table>
		        
	       	</div>
	        <script th:inline="javascript">
			/*<![CDATA[*/
			    
				    $.ajax({
				        url: "http://localhost:8080/getorderlist",
				        type: "GET",
				        dataType: "json",
				        success: function(Jdata) {
				        	$('.greeting-id').append(Jdata[0].id);
				        	$('.greeting-content').append(Jdata[0].username);
				        }, 
				          error: function() {      
				            alert("ERROR!!!");
				       }        
				      });
			/*]]>*/
		</script>
		<div>
            <p class="greeting-id">The ID is </p>
            <p class="greeting-content">The content is </p>
        </div>    	
    	</div>
    	<div class="span4">
	        <h1>Order list</h1>
	        <table class="table table-bordered table-striped">
	                <tr >
	                	<td>名稱</td>
	                	<td>冰塊</td>
	                	<td>甜度</td>
	                	<!-- <td>珍珠</td> -->
	                	<td>杯數</td>
	                	<td>價錢</td>
	                	
	                </tr>
	                <tr th:each="basketItem : ${basket.items}">
			           <td th:text="${basketItem.name}"></td>
			           <td th:text="${basketItem.ice}">冰</td>
	                	<td th:text="${basketItem.sweetness}">無糖</td>
	                	<!-- <td>不加</td> -->
	                	<td th:text="${basketItem.quantity}">杯數</td>
	                	<td  th:text="${basketItem.price}">價錢</td>
	                	
				</tr>
				<tr >
						<th>總杯數</th>
						<td th:text="${basket.quantity}" colspan="1">總杯數</td>
						<th>總價錢</th>
	                	<td th:text="${basket.price}" colspan="2">總價錢</td>
	             </tr>
	        </table>
	        <a th:if="${basket.size &gt; 0}"
							       class="btn btn-inverse btn-right"
							       th:href="@{/basket/check}">Look in your basket</a>
	        
    	</div>

    </div>
  </body>
</html>