<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title tiles:fragment="title">Messages : View All</title>
	</head>
	<body>
		<div tiles:fragment="menubar">
			<div th:include="navigationLayout :: AdminMenu"></div>
	  	</div>
	    <div tiles:fragment="content">
	    <script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	    	<div class="form-horizontal span11 application-form">
		        <h4 class="form-title">Order Menu</h4>
		        <a class="linkBtn offset10" href="menu/create">新增商品</a>
		        <div class="orderMenu span11">
 										
						<div th:include="componentAdmin :: orderList('熱門排行')"></div>
						<div th:include="componentAdmin :: orderList('原味茶')"></div>
						<div th:include="componentAdmin :: orderList('調味茶')"></div>
						<div th:include="componentAdmin :: orderList('奶香茶')"></div>
						<div th:include="componentAdmin :: orderList('新鮮茶')"></div>
						<div th:include="componentAdmin :: orderList('拿鐵茶')"></div>
						<div th:include="componentAdmin :: orderList('夏季限定')"></div>
						<div th:include="componentAdmin :: orderList('冬季限定')"></div>
	    		</div>	
	    	</div>
	    </div>
	</body>
</html>