<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title tiles:fragment="title">Hello! Welcome Back!</title>
	</head>
	<body>
		<div tiles:fragment="menubar">
			<div th:include="navigationLayout :: userMenu"></div>
		</div>
		<div tiles:fragment="content">
		<script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
			<div class="form-horizontal span7 application-form">
				<fieldset>
				<h4 class="form-title">Menu List</h4>

					<div class="orderMenu span12">
					
						<div th:include="component :: orderList('熱門排行')"></div>
						<div th:include="component :: orderList('原味茶')"></div>
						<div th:include="component :: orderList('調味茶')"></div>
						<div th:include="component :: orderList('奶香茶')"></div>
						<div th:include="component :: orderList('新鮮茶')"></div>
						<div th:include="component :: orderList('拿鐵茶')"></div>
						<div th:include="component :: orderList('夏季限定')"></div>
						<div th:include="component :: orderList('冬季限定')"></div>
	
					</div>

				</fieldset>
			</div>
			<div class="form-horizontal span4 application-form">
				<fieldset>
				    <h4 class="form-title">Order list</h4>
				    <table class="table table-bordered table-striped">
						<thead>
							<tr>
				            	<td>名稱</td>
				             	<td>冰塊</td>
				             	<td>甜度</td>
				             	<!-- <td>珍珠</td> -->
				             	<td>杯數</td>
				             	<td>價錢</td>
				            </tr>
						</thead>
						<tbody>
							
								<tr th:each="basketItem : ${basket.items}">

									<form method="POST" th:action="@{/basket/removeFromBasket}">
										<td th:text="${basketItem.name}"></td>
										<td th:text="${basketItem.ice}">冰</td>
										<td th:text="${basketItem.sweetness}">無糖</td>
										<!-- <td>不加</td> -->
										<td th:text="${basketItem.quantity}">杯數</td>
										<td  th:text="${basketItem.price}">價錢</td>
										<input id="id" name="id" type="hidden" th:value="${basketItem.id}" />
										<th class="menuSelect"><input type="submit" value="Remove"></input></th>  
									</form>  	
								</tr>
						</tbody>
						<tbody>
							<tr >
									<td>總杯數</td>
									<td th:text="${basket.quantity}" colspan="2">總杯數</td>
									<td>總價錢</td>
						            <td th:text="${basket.price}" colspan="2">總價錢</td>

						    </tr>

						</tbody>
				     </table>
				
				</fieldset>
			     <a class="linkBtn pull-right" href="deliveryDetail">Order</a>
		     </div>
		</div>
	</body>
</html>