<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title tiles:fragment="title">My order detail</title>
	</head>
	<body>
	  	<div tiles:fragment="menubar">
	  		<div th:include="navigationLayout :: userMyorder"></div>
	  	</div>
	    <div tiles:fragment="content">
	    <script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script  src="../resources/js/order-user.js"></script>
			<h4 class="offset2 span8 list-title">Thank you for your visit, your order is shown below</h4>
	        <div class="offset2 span8 application-form">
	        	<fieldset>
					<h4 class="list-title">Order list</h4>
	        		<div class="orderDetailForm" style="height:150px;overflow:auto;">
	        			<p>目前狀態：<span class="status" th:text="${menuItemForm.status}"></span></p>
				        <p>預計完成時間為：<span class="finishdate" th:text="${menuItemForm.finishDate}"></span></p>
				        <p>您的訂單編號為：<span class="uid" th:text="${menuItemForm.uid}"></span></p>
				        <table class="table table-bordered table-striped">
			                <thead>
				                <tr>
				                	<th>名稱</th>
				                	<th>冰塊</th>
				                	<th>甜度</th>
				                	<!-- <th>珍珠</th> -->
				                	<th>杯數</th>
				                	<th>價錢</th>
				                </tr>
				            </thead>
				            <tbody>
				            	<tr th:each="bevegers : ${menuItemForm.orders}">
									<td th:text="${bevegers.beverageName}">飲品</td>
									<td th:text="${bevegers.ice}">冰</td>
									<td th:text="${bevegers.sweetness}">無糖</td>
									<!-- <td>不加</td> -->
									<td th:text="${bevegers.quantity}">杯數</td>
									<td th:text="${bevegers.price}">價錢</td>	
								</tr>
				            </tbody>
				            <tbody>
				            	<tr >
									<th>總杯數</th>
									<td th:text="${menuItemForm.totalQuantity}" colspan="1">總杯數</td>
									<th>總價錢</th>
				                	<td th:text="${menuItemForm.price}" colspan="2">總價錢</td>
				             	</tr>
				            </tbody>
				        </table>
				        
				        
					</div> 
		        </fieldset>
	        	
		        <div class="form-horizontal">
			        <fieldset>
			            <h4 class="form-title">Delivery Information</h4>       
			            <table class="flat-table">
			            	<tr>
			            		<td>Account:</td>
			            		<td><span class="account" th:text="${menuItemForm.account}"></span></td>
			            	</tr>
			            	<tr>
			            		<td>Name:</td>
			            		<td><span class="username" th:text="${menuItemForm.username}"></span></td>
			            	</tr>
			            	<tr>
			            		<td>Phone:</td>
			            		<td><span th:text="${menuItemForm.phone}"></span></td>
			            	</tr>
			            	<tr>
			            		<td>Email:</td>
			            		<td><span th:text="${menuItemForm.email}"></span></td>
			            	</tr>
			            	<tr>
			            		<td>Address:</td>
			            		<td><span th:text="${menuItemForm.address}"></span></td>
			            	</tr>
			            </table> 
			        </fieldset>	        
		        </div>
			</div>
	    </div>
	</body>
</html>