<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Order </title>
  </head>
  <body>
	<div tiles:fragment="menubar">
		<div th:include="navigationLayout :: AdminMenu"></div>
	</div>
    <div tiles:fragment="content">
       	
		<script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script  src="../resources/js/order.js"></script>
		<div class="span11 application-form">
			<fieldset>
				<h4 class="form-title">Orders Detail</h4>
	            <table  border="1" >
		            <thead>
			            <tr>
			            	<th style="width: 5%;">飲料名稱</th>
			            	<th style="width: 5%;">冰塊</th>
			            	<th style="width: 5%;">甜度</th>
			            	<th style="width: 5%;">數量</th>
			            </tr>
		            </thead>
		            <tbody class="orderdetail">
		            </tbody>
		        </table>
	            <div class="order-detail"></div>
			</fieldset>
            
        </div>    
        
		<div class="span8 application-form">
			<fieldset>
	            <h4 class="form-title">Orders List</h4>
	            <table border="1" class="order">
	            <tr>
	            	<td class="uuid">訂單編號</td>
	            	<td class="uuid" style="width: 5%;">名稱</td>
	            	<td class="" style="width: 4%;">價錢</td>
	            	<td class="" style="width: 25%;">預計時間</td>
	            	<td class="" style="width: 7%;">狀態</td>
	            	<td class="" style="width: 7%;">完成</td>
	            </tr>
	            </table>
	    	</fieldset>
        </div>    

        <div class="span3 application-form">
        	<fieldset>
	            <h4 class="form-title">Finish Orders</h4>
	            <table  border="1"  class="finishorder">
		            <tr>
		            	<td class="uuid" style="width: 1%;">訂單編號</td>
		            	<td class="uuid" style="width: 1%;">名稱</td>
		            	<td class="" style="width: 1%;">價錢</td>
		            	<td class="" style="width: 1%;">時間</td>
		            </tr>
	            </table>
        	
        	</fieldset>
        </div>    
        <div class="audio"></div>
    </div>

   
  </body>
</html>