@CHARSET "UTF-8";

.header .brand img{
	height: 40px;
}

.banner h3.shopName{
    background: url("../img/logo2.png") no-repeat scroll 50% center rgba(0, 0, 0, 0);
    height: 105px;
    color: transparent;
}

.menuSelect select{
	width: 45px;
}
.menuSelect input{
	width: 20px;
}
.menuInputSubmut input{
	width: 45px;
}

a.linkBtn {
	text-decoration: none;
}
.linkBtn{
	color: #ffffff;
	background-color: #34495e;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.471;
}
.linkBtn:hover{
	color: #ffffff;
	background-color: #415b76;
}
input.linkBtn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #34495E #34495E -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 2px 1px;
}
input.linkBtn:hover {
    border-color: #415b76 #415b76 -moz-use-text-color;
}

.application-form{
	position: relative;
	margin: 50px auto;
	
	padding: 33px 25px 29px;
	background: white;
	border-bottom: 1px solid #c4c4c4;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	
}
.list-title{
	margin: -25px -25px 25px;
	padding: 15px 25px;
	line-height: 35px;
	font-weight: 300;
	font-size: 20px;
	color: #aaa;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	background: #f7f7f7;
}
.form-title{
	margin: -25px -25px 25px;
	padding: 15px 25px;
	line-height: 35px;
	font-size: 20px;
	font-weight: 300;
	color: #aaa;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	background: #f7f7f7;
}
.form-label{
	color: #aaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
}
.form-title:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	background: #c4e17f;
	border-radius: 5px 5px 0 0;
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
input.form-input {
	width: 95%;
	height: 50px;
	margin-bottom: 25px;
	padding: 0 15px 2px;
	font-size: 17px;
	background: white;
	border: 2px solid #ebebeb;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -2px #ebebeb;
	box-shadow: inset 0 -2px #ebebeb;
}

input.form-button {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F0776C;
    border-color: -moz-use-text-color -moz-use-text-color #D76B60;
    border-image: none;
    border-radius: 5px;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -2px #D76B60 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 54px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    vertical-align: top;
    width: 20%;  
}
.form-submit-btn{
	text-align: right;	
}

.flat-table {
	margin-bottom: 20px;
	border-collapse:collapse;
	border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	background: none repeat scroll 0 0 #669AE1;
    margin-bottom: 20px;
    width: 100%;
}
.flat-table th, .flat-table td {
	box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
		inset 0 1px rgba(0,0,0,0.25);
}
.flat-table th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	padding: 1em;
	color: rgba(0,0,0,0.45);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-size: 1.5em;
}
.flat-table td {
	color: #f7f7f7;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 1.4em;
}
.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}
.flat-table tr:hover {
	background: rgba(0,0,0,0.19);
}

.orderDetail{
	border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 20px;
}
.orderDetailForm{
	padding-bottom: 6%;
}

.label-size15 {
	font-size: 15px;
	padding: 5px 6px;	
}
.select-list {
	width: 95%;
}
input.form-button:hover{
	background-color: rgb(215, 107, 96);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.checkbox-group {
	margin-bottom: 25px;
}

a.link-account {
	color: #F0776C;
}
.nav .navbar-list {
	padding: 10px;
}
.nav .active.navbar-list{
	background-color: #5A5A5A;
}
.nav .navbar-list:hover{
	background-color: #5A5A5A;
	padding: 10px;
	color: #FFF;
}
.navbar-inverse .nav .active.navbar-list > a, .navbar-inverse .nav .active.navbar-list > a:hover, .navbar-inverse .nav .active.navbar-list > a:focus{
	background-color: #5A5A5A;
	box-shadow: none;
}
