<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title"></title>
  </head>
  <body>
    <div tiles:fragment="content">
        
	        <fieldset>
	            <legend>User Information</legend>             
                <label for="name">Username: <span th:text="${users.name}"></span></label>
	            <label for="account">Account: <span th:text="${users.account}"></span></label>
	            <label for="password">Password: <span th:text="${users.password}"></span></label>
	            <label for="phone">Phone:<span th:text="${users.phone}"></span></label>
	            <label for="email">Email: <span th:text="${users.email}"></span></label>
	            <label for="address">Address: <span th:text="${users.address}"></span></label>          
	        </fieldset>

    </div>
  </body>
</html>