<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
    	<title tiles:fragment="title">User Registry</title>
	</head>
	<body>
		<div tiles:fragment="menubar">
			<div class="navbar navbar-inverse navbar-static-top">
		    	<div class="navbar-inner">
					<div class="container">
						<div class="header">
				         	<a class="brand" th:href="@{/}">
				         		<img th:src="@{/resources/img/tealogo.png}" alt="Spring Security Sample"/>
				         	</a>
				
							<div class="nav-collapse collapse" 
							     th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
								  <div th:if="${currentUser != null}">
								      <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
								          <input type="submit" value="Log out" />
								      </form>
								      <p class="navbar-text pull-right" th:text="${currentUser}">
								        sample_user
								      </p>
								  </div>
								  <ul class="nav">
									   <!-- <li><a th:href="@{login}">Login</a></li> -->
									   <li><a th:href="@{myOrder}">My Order</a></li>
									   <li><a th:href="@{logout}">Logout</a></li>
									  <!--  <li><a href="user/create">userCreate</a></li>
									   <li><a href="deliveryDetail">delivery</a></li> -->
								  </ul>
							</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
		<div tiles:fragment="content">
		    <form class="offset3 span6 application-form form-horizontal" role="form" action="#" th:action="@{/user/create/}" th:object="${userForm}"  method="post">
				<fieldset>
					<h3 class="form-title">使用者帳號申請</h3>
					<div class="form-group">
						<label class="label label-default label-size15" for="account">帳號</label>
						<input class="form-input" type="text" th:field="*{account}" placeholder="請輸入您的帳號" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="name">姓名</label>
					<input class="form-input" type="text" th:field="*{name}" placeholder="請輸入您的姓名" />
					</div>
					
					<div class="form-group">
						<label class="label label-default label-size15" for="password">密碼</label>
						<input class="form-input" type="password" th:field="*{password}" placeholder="請輸入您的密碼" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="password">確認密碼</label>
						<input class="form-input" type="password" th:field="*{password}" placeholder="再次確認您的密碼" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="phone">電話</label>
						<input class="form-input" type="phone" th:field="*{phone}" placeholder="請輸入您的電話" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="email">E-mail</label>
						<input class="form-input" type="email" th:field="*{email}" placeholder="請輸入您的E-mail" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="address">地址</label>
						<input class="form-input" type="text" th:field="*{address}" placeholder="請輸入您的住址" />
					</div>
					<div class="form-group form-submit-btn">
						<input class="form-button" type="submit" value="建立帳號" />
					</div>
		        </fieldset>
			</form>		
		</div>
	</body>
</html>