<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
    	<title tiles:fragment="title"></title>
	</head>
	<body>
	<div tiles:fragment="menubar"></div>
	<div tiles:fragment="content">
	    <form class="offset3 span6 application-form form-horizontal" role="form" action="#" th:action="@{/user/create/}" th:object="${userForm}"  method="post">
			<fieldset>
				<h3 class="form-title">User Registry</h3>
				<input class="form-input" type="text" th:field="*{account}" placeholder="What's your username?" />
				<!-- <div class="form-group">
					<label class="col-sm-2 control-label" for="account">Account:</label>
					<input class="form-control" type="text" th:field="*{account}" />
				</div> -->
				<input class="form-input" type="text" th:field="*{name}" placeholder="What's your name?" />
				<!-- <div class="form-group">
					<label class="control-label" for="name">Name:</label>
					<input class="form-control" type="text" th:field="*{name}" />
				</div> -->
				<input class="form-input" type="password" th:field="*{password}" placeholder="What's your password?" />
				<!-- <div class="form-group">
					<label class="control-label" for="password">Password:</label>
					<input class="form-control" type="password" th:field="*{password}" />
				</div> -->
				<input class="form-input" type="phone" th:field="*{phone}" placeholder="What's your phone?" />
				<!-- <div class="form-group">
					<label class="control-label" for="phone">Phone:</label>
					<input class="form-control" type="text" th:field="*{phone}" />
				</div> -->
				<input class="form-input" type="email" th:field="*{email}" placeholder="What's your email?" />
				<!-- <div class="form-group">
					<label class="col-sm-2 control-label" for="email">Email:</label>
					<input class="form-control" type="text" th:field="*{email}" />
				</div> -->
				<input class="form-input" type="text" th:field="*{address}" placeholder="What's your address?" />
				<!-- <div class="form-group">
					<label class="col-sm-2 control-label" for="address">Address:</label>
					<input class="form-control" type="text" th:field="*{address}" />
				</div> -->
				<input class="form-button" type="submit" value="Create an account" />
				<!-- <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10" id="submit">
	            		<input type="submit" value="Registry" class="btn btn-default"/>
	            	</div>
				</div> -->
	        </fieldset>
		</form>		
	</div>
	</body>
</html>