<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="orderList(tagName)">
    	<h5 th:text="${tagName}"></h5>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
		          	<th>品名</th>
					<th>價格(熱)</th>
					<th>價格(冰)</th>
		              <!-- <th>種類</th> -->
					<th>甜度</th>
					<th>冰塊</th>
					<th>杯數</th>
					<th>order</th>
				</tr>
			</thead>
			<tbody th:each="menuitem : ${menuitems}">
				<tr th:if="${menuitems.empty}">
					<td colspan="3">No messages</td>
				</tr>
				<form method="POST" th:action="@{/basket/add}"> 
					<tr th:if="${menuitem.tag} == ${tagName}">
						<td>
							<span th:switch="${menuitem.recommend}">
								<img th:case="0" style="height:25px;" src=""/>	
								<img th:case="1" style="height:25px;" src="./resources/img/thermometer.png"/>
								<!-- <p th:case="0"><img style="height:25px;" src=""/></p>	
								<p th:case="1"><img style="height:25px;" src="./resources/img/thermometer.png"/></p> -->	
							</span>
							<span th:switch="${menuitem.original}">
								<img th:case="0" style="height:25px;" src=""/>	
								<img th:case="1" style="height:25px;" src="./resources/img/like.png"/>
								<!-- <p th:case="0"><img style="height:25px;" src=""/></p>	
								<p th:case="1"><img style="height:25px;" src="./resources/img/like.png"/></p>	 -->
							</span>
							<span th:text="${menuitem.name}">name</span>
						</td>
						<td th:text="${menuitem.hotPrice}">hotPrice</td>
						<td th:text="${menuitem.icePrice}">icePrice</td>
						<!-- <td th:text="${menuitem.tag}">tag</td> -->
						<!-- <td th:text="${menuitem.recommend}">recommend</td>
						<td th:text="${menuitem.original}">original</td> -->
						<input id="name" name="name" type="hidden" th:value="${menuitem.name}"/>
						<input id="hotPrice" name="hotPrice" type="hidden" th:value="${menuitem.hotPrice}"/>
						<input id="icePrice" name="icePrice" type="hidden" th:value="${menuitem.icePrice}"/>           
						<td  class="menuSelect">
							<select th:field="*{sweetness}"  th:object="${menuItemForm}">
								<option value="0" >無糖</option>
								<option value="1" >微糖</option>
								<option value="2">半糖</option>
								<option value="3">少糖</option>
								<option value="4">正常</option>
							</select> 
						</td>
			            <td class="menuSelect">
							<select th:field="*{ice}" th:object="${menuItemForm}">
								<option   th:if="${menuitem.icePrice != 0}" th:value="0" >去冰</option>
								<option   th:if="${menuitem.icePrice != 0}" th:value="1" >少冰</option>
								<option   th:if="${menuitem.icePrice != 0}" th:value="2" >正常</option>
								<option   th:if="${menuitem.hotPrice != 0}" th:value="3" >熱</option>
							</select> 
						</td> 
						<td class="menuSelect">
							<input type="number" name="quantity" value="0" min="1"></input>
						</td>
						<td class="menuInputSubmut"><input type="submit" value="訂購"></input></td>              
					</tr>
				</form>
			</tbody>
		</table>
	</div>
</body>

</html>
