<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="orderList(tagName)">
    	<h5 th:text="${tagName}"></h5>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
		          	<th>品名</th>
					<th>價格(熱)</th>
					<th>價格(冰)</th>
		              <!-- <th>種類</th> -->
		          	<th>推薦</th>
					<th>Original</th>
					<th>杯數</th>
					<th>order</th>
				</tr>
			</thead>
			<tbody th:each="menuitem : ${menuitems}">
				<tr th:if="${menuitems.empty}">
					<td colspan="3">No messages</td>
				</tr>
				<form method="POST"> 
					<tr th:if="${menuitem.tag} == ${tagName}">
						<td th:text="${menuitem.name}">name</td>
						<td th:text="${menuitem.hotPrice}">hotPrice</td>
						<td th:text="${menuitem.icePrice}">icePrice</td>
						<!-- <td th:text="${menuitem.tag}">tag</td> -->
						<td th:text="${menuitem.recommend}">recommend</td>
						<td th:text="${menuitem.original}">original</td>
	                    <td class="menuSelect">
	                    	<a class="linkBtn" th:href="@{|/menu/update/${menuitem.id}|}">Edit</a>
						</td>
	                    <td class="menuSelect">
	                    	<a class="linkBtn" th:href="@{|/menu/delete/${menuitem.id}|}">Delete</a>
	                    </td>            
					</tr>
				</form>
			</tbody>
		</table>
	</div>
</body>

</html>
