<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title tiles:fragment="title">Login</title>
	</head>
	<body>
		<div tiles:fragment="menubar">
			<div class="navbar navbar-inverse navbar-static-top">
		    	<div class="navbar-inner">
					<div class="container">
						<div class="header">
				         	<a class="brand" th:href="@{/}">
				         		<img th:src="@{/resources/img/tealogo.png}" alt="Spring Security Sample"/>
				         	</a>
				
							<div class="nav-collapse collapse" 
							     th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
								  <div th:if="${currentUser != null}">
								      <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
								          <input type="submit" value="Log out" />
								      </form>
								      <p class="navbar-text pull-right" th:text="${currentUser}">
								        sample_user
								      </p>
								  </div>
								  <ul class="nav">
									   <li><a href="/">Menu</a></li>
								  </ul>
							</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	    <div tiles:fragment="content">
	        <form class="offset3 span6 application-form form-horizontal" role="form" name="f" th:action="@{/login}" method="post">
		        <fieldset>
					<h4 class="form-title">使用者登入</h4>
	                <div th:if="${param.error}" class="alert alert-error">
	                    Invalid username and password.
	                </div>
	                <div th:if="${param.logout}" class="alert alert-success">
	                    You have been logged out.
	                </div>
					<div class="form-group">
						<label class="label label-default label-size15" for="account">帳號</label>
						<input class="form-input" type="text" id="account" name="account" placeholder="請輸入您的帳號" />
					</div>
					<div class="form-group">
						<label class="label label-default label-size15" for="password">密碼</label>
						<input class="form-input" type="text" id="password" name="password" placeholder="請輸入您的密碼" />
					</div>
	                
		            <div class="form-group form-submit-btn">
		                <input type="submit" class="form-button" value="登入"/>
		            </div>
		        </fieldset>
		    </form>
		    <div class="span12" style="text-align:center"><a class="link-account" href="user/create">Create a new account</a></div> 
	    </div>
	</body>
</html>