<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title"></title>
  </head>
  <body>
  	<div tiles:fragment="menubar">
  		<div class="navbar navbar-inverse navbar-static-top">
	        <div class="navbar-inner">
	          <div class="container">
	            <div class="header">
	            	<a class="brand" th:href="@{/}"><img th:src="@{/resources/img/tealogo.png}" alt="Spring Security Sample"/></a>
	
					<div class="nav-collapse collapse" 
					     th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
					  <div th:if="${currentUser != null}">
					      <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
					          <input type="submit" value="Log out" />
					      </form>
					      <p class="navbar-text pull-right" th:text="${currentUser}">
					        sample_user
					      </p>
					  </div>
					  <ul class="nav">
					  	<li class="navbar-list"><a herf="/">Menu</a></li>
					  	<li class="active navbar-list"><a th:href="@{management}">Management</a></li>
					  	<li class="navbar-list"><a th:href="@{logout}">Logout</a></li>
					  </ul>
					</div>
	            </div>
	        </div>
	      </div>
	    </div>
  	</div>
    <div tiles:fragment="content"  class="offset2 span7">
       	<blockquote class="orderDetail">British number one Andy Murray and coach Ivan Lendl have agreed to end their two-year partnership.  "I'm eternally grateful to Ivan for all his hard work," said Murray, 26. "We've learned a lot as a team and it will be of benefit in the future."
Lendl said it was time to "concentrate on some of my own projects, including playing more events around the world". The Czech-born coach, who has recently played exhibition matches in the United States and London, added: "Working with Andy over the last two years has been a fantastic experience. He is a first-class guy." </blockquote>
       	<div class="span5">
			<table class="flat-table">
            	<thead>
            		<tr>
            			<th>姓名</th>
            			<th>ID</th>
            			<th>Time</th>
            			<th>狀態</th>
            			<th>完成</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>姓名</td>
            			<td>ID</td>
            			<td>Time</td>
            			<td>狀態</td>
            			<td>完成</td>
            		</tr>
            	</tbody>
            </table>
		</div>
       	<div class="span5">
       		<table class="flat-table">
            	<thead>
            		<tr>
            			<th>姓名</th>
            			<th>ID</th>
            			<th>Time</th>
            			<th>狀態</th>
            			<th>完成</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>姓名</td>
            			<td>ID</td>
            			<td>Time</td>
            			<td>狀態</td>
            			<td>完成</td>
            		</tr>
            	</tbody>
            </table>
		</div>
    </div>  
  </body>
</html>