<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">My order detail</title>
  </head>
  <body>
	<div tiles:fragment="menubar">
		<div th:include="navigationLayout :: userMyorder"></div>
	</div>
    <div tiles:fragment="content"  class="offset2 span8">
       	<form>
       		<h5>Dear customer, thank you for the order. We will delivery your beverages in
       		<strong>30</strong> minutes</h5>
       		<input type="submit" value="OK" class="btn btn-default"/>
       	</form> 
       	<div>
            <p class="greeting-id">Order ID:</p>
            <p class="greeting-content">The Order ID is:  </p>
        </div>    
       	<script  src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script  src="../resources/js/order-user.js"></script>
    </div>
  </body>
</html>