<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
	<title tiles:fragment="title">Messages : View All</title>
</head>
<body>
    <div tiles:fragment="content">
    	<form class="form-horizontal" method="POST" th:object="">
	    	<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input type="text" th:field="*{name}" placeholder="Name"/>
				</div>
				<div th:if="${#fields.hasErrors('name')}"><p th:errors="*{name}">Incorrect Name</p></div>
				
	    		<label class="control-label" for="account">Account</label>
				<div class="controls">
					<input type="text" th:field="account" placeholder="Account"/>
				</div>
				<div th:if="${#fields.hasErrors('account')}"><p th:errors="*{account}">Incorrect Account</p></div>
				
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" th:field="password" placeholder="Password"/>
				</div>
				<div th:if="${#fields.hasErrors('password')}"><p th:errors="*{password}">Don't leave it empty</p></div>
			
				<label class="control-label" for="phone">Contact number</label>
				<div class="controls">
					<input type="text" th:field="*{phone}" placeholder="Number"/>
				</div>
				<div th:if="${#fields.hasErrors('phone')}"><p th:errors="*{phone}">Incorrect Number</p></div> 
				
				<div class="control-group">
					<label class="control-label" for="address1">Deliver address</label>
					<div class="controls">
						<input type="text" th:field="*{address1}" placeholder="address"/>
					</div>
					<div th:if="${#fields.hasErrors('address1')}"><p th:errors="*{address1}">Incorrect Address</p></div>
				</div>
				
                <div class="control-group">
					<label class="control-label" for="postcode">Post code</label>
					<div class="controls">
						<input type="text" th:field="*{postcode}" placeholder="postcode"/>
					</div>
					<div th:if="${#fields.hasErrors('postcode')}"><p th:errors="*{postcode}">Postcode Error</p></div>
				</div>
				
				<div class="control-group">
                	<input class="btn btn-inverse pull-right" type="submit" value="Place order" />
                </div>
			
			</div>
    	</form>
    
    
    <!-- 
                <form class="form-horizontal" method="POST" th:object="${customerInfo}">
            	
				<div class="control-group">
				//// <label class="control-label" for="phone">Contact number</label>
					<div class="controls">
						<input type="text" th:field="*{phone}" placeholder="Number"/>
					</div>
					<div th:if="${#fields.hasErrors('phone')}"><p th:errors="*{phone}">Incorrect Number</p></div> /////
					<label class="control-label" for="inputEmail">Contact number</label>
					<div class="controls">
						<input type="text" placeholder="Number"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="address1">Deliver address</label>
					<div class="controls">
						<input type="text" th:field="*{address1}" placeholder="address"/>
					</div>
					<div th:if="${#fields.hasErrors('address1')}"><p th:errors="*{address1}">Incorrect Address</p></div>
				</div>
                <div class="control-group">
					<label class="control-label" for="postcode">Post code</label>
					<div class="controls">
						<input type="text" th:field="*{postcode}" placeholder="postcode"/>
					</div>
					<div th:if="${#fields.hasErrors('postcode')}"><p th:errors="*{postcode}">Postcode Error</p></div>
				</div>
                <div class="control-group">
                	<input class="btn btn-inverse pull-right" type="submit" value="Place order" />
                </div>
            </form>
    
     -->
    
    </div>

</body>
</html>